doctype html
html(style='font-size: 16px;' lang='en')
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(charset='utf-8')
    meta(name='keywords' content='​Bạn cần tìm những điều mới lạ, phát triển bản thân thời Đại học?')
    meta(name='description' content='')
    title Các hoạt động
    link(rel='stylesheet' href='public/source/css/nicepage.css' media='screen')
    link(rel='stylesheet' href='public/source/css/countdown.css' media='screen')
    link(rel='icon' href='/public/source/public/source/images/Logo.png')
    script.u-script(type='text/javascript' src='public/source/js/jquery.js' defer='')
    script.u-script(type='text/javascript' src='public/source/js/nicepage.js' defer='')
    link#u-theme-google-font(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i')
    link#u-page-google-font(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i')
    script(type='application/ld+json').
      {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "Ban Học Tập Khoa Học Và Kỹ Thuật Thông Tin",
      "logo": "/public/source/images/Logo.png"
      }
    // Messenger Plugin chat Code
    #fb-root
    // Your Plugin chat code
    #fb-customer-chat.fb-customerchat
    script.
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "123796654757372");
      chatbox.setAttribute("attribution", "biz_inbox");
    // Your SDK code
    script.
      window.fbAsyncInit = function() {
      FB.init({
      xfbml            : true,
      version          : 'v15.0'
      });
      };
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    meta(name='theme-color' content='#2799b1')
    meta(property='og:title' content='Các hoạt động')
    meta(property='og:type' content='website')
    meta(name='theme-color' content='#2799b1')
    meta(property='og:title' content='Các hoạt động')
    meta(property='og:type' content='website')
  body.u-body.u-xl-mode(data-lang='en')
    header#sec-9c34.u-clearfix.u-header.u-palette-1-dark-1.u-sticky.u-sticky-cf2b(data-animation-name='' data-animation-duration='0' data-animation-delay='0' data-animation-direction='')
      .u-clearfix.u-sheet.u-sheet-1
        a.u-image.u-logo.u-image-1(href='/' data-image-width='1080' data-image-height='1080')
          img.u-logo-image.u-logo-image-1(src='public/source/images/Logo.png')
        p.u-align-left.u-custom-font.u-font-raleway.u-text.u-text-1
          span.u-text-white Ban Học Tập
          br
          span.u-text-white(style="color: #2799b1 !important") Khoa Học và Kỹ thuật Thông tin
    section#carousel_a9f5.u-clearfix.u-image.u-valign-middle-md.u-valign-middle-sm.u-valign-middle-xs.u-section-1(data-image-width='1536' data-image-height='1080')
      .u-clearfix.u-sheet.u-sheet-1
        .u-clearfix.u-expanded-width-xs.u-layout-wrap.u-layout-wrap-1
          .u-layout
            .u-layout-row
              .u-align-center.u-container-style.u-layout-cell.u-right-cell.u-shape-rectangle.u-size-33-lg.u-size-33-xl.u-size-60-md.u-size-60-sm.u-size-60-xs.u-layout-cell-1
                .u-container-layout.u-valign-top-xs.u-container-layout-1
                  img.u-expanded-width.u-image.u-image-contain.u-image-1(src='public/source/images/ffgg-min.png' data-image-width='1099' data-image-height='1099')
              .u-container-style.u-layout-cell.u-left-cell.u-shape-rectangle.u-size-27-lg.u-size-27-xl.u-size-60-md.u-size-60-sm.u-size-60-xs.u-layout-cell-2
                .u-container-layout.u-valign-middle-lg.u-valign-middle-md.u-valign-middle-sm.u-valign-middle-xl.u-container-layout-2
                  h2.u-align-center.u-custom-font.u-font-roboto.u-text.u-text-palette-1-base.u-text-1 Đếm ngược nào...
                  .u-countdown.u-countdown-1(data-timer-id='93d1' data-type='to-date' data-target-date=dateCountdown data-for='everyone' data-direction='down' data-time-left='5255m' data-target-number='100' data-start-time=dateNow data-frequency='1s' data-after-count='redirect' data-redirect-url='https://')
                    .u-countdown-wrapper.u-spacing-20
                      .u-countdown-item.u-countdown-years.u-hidden.u-spacing-10
                        .u-countdown-counter.u-countdown-counter-1
                          .u-countdown-number.u-text-palette-5-dark-3 0
                          .u-countdown-number.u-hidden.u-text-palette-5-dark-3 0
                        .u-countdown-label.u-custom-font.u-font-roboto.u-text-palette-1-base.u-countdown-label-1 Years
                      .u-countdown-separator.u-hidden.u-text-palette-5-dark-3.u-countdown-separator-1 :
                      .u-countdown-days.u-countdown-item.u-spacing-10
                        .u-countdown-counter.u-countdown-counter-2
                          .u-countdown-number.u-text-palette-5-dark-3 3
                          .u-countdown-number.u-hidden.u-text-palette-5-dark-3 6
                          .u-countdown-number.u-hidden.u-text-palette-5-dark-3 0
                        .u-countdown-label.u-custom-font.u-font-roboto.u-text-palette-1-base.u-countdown-label-2 Ngày
                      .u-countdown-separator.u-text-palette-5-dark-3.u-countdown-separator-2 :
                      .u-countdown-hours.u-countdown-item.u-spacing-10
                        .u-countdown-counter.u-countdown-counter-3
                          .u-countdown-number.u-text-palette-5-dark-3 0
                          .u-countdown-number.u-text-palette-5-dark-3 9
                        .u-countdown-label.u-custom-font.u-font-roboto.u-text-palette-1-base.u-countdown-label-3 Giờ
                      .u-countdown-separator.u-text-palette-5-dark-3.u-countdown-separator-3 :
                      .u-countdown-item.u-countdown-minutes.u-spacing-10
                        .u-countdown-counter.u-countdown-counter-4
                          .u-countdown-number.u-text-palette-5-dark-3 0
                          .u-countdown-number.u-text-palette-5-dark-3 8
                        .u-countdown-label.u-custom-font.u-font-roboto.u-text-palette-1-base.u-countdown-label-4 Phút
                      .u-countdown-separator.u-text-palette-5-dark-3.u-countdown-separator-4 :
                      .u-countdown-item.u-countdown-seconds.u-spacing-10
                        .u-countdown-counter.u-countdown-counter-5
                          .u-countdown-number.u-text-palette-5-dark-3 2
                          .u-countdown-number.u-text-palette-5-dark-3 3
                        .u-countdown-label.u-custom-font.u-font-roboto.u-text-palette-1-base.u-countdown-label-5 Giây
                      .u-countdown-separator.u-hidden.u-text-palette-5-dark-3.u-countdown-separator-5 :
                      .u-countdown-item.u-countdown-numbers.u-hidden.u-spacing-10
                        .u-countdown-counter.u-countdown-counter-6
                          .u-countdown-number.u-text-palette-5-dark-3 0
                          .u-countdown-number.u-text-palette-5-dark-3 0
                        .u-countdown-label.u-custom-font.u-font-roboto.u-text-palette-1-base.u-countdown-label-6 Items
                    .u-countdown-message.u-hidden
                      p Sorry, the time is up.
                  p.u-align-justify.u-custom-font.u-font-roboto.u-text.u-text-2
                    | Sắp đến thời gian mở nhận đơn ứng tuyển vào Ban Học Tập Khoa Học Và Kỹ Thuật Thông Tin rồi. Hãy theo dõi Fanpage để nhận thông báo mới nhất nhé!!!
                  a.u-active-white.u-border-2.u-border-active-palette-1-base.u-border-hover-palette-1-base.u-border-palette-1-base.u-btn.u-button-style.u-custom-font.u-font-roboto.u-hover-white.u-palette-1-base.u-text-active-palette-1-base.u-text-body-alt-color.u-text-hover-palette-1-base.u-btn-1(href='https://www.facebook.com/BHTKHKTTT') THEO DÕI BAN HỌC TẬP
