doctype html
html(style='font-size: 16px;' lang='en')
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(charset='utf-8')
    meta(name='keywords' content='Đăng ký phỏng vấn')
    meta(name='description' content='')
    title Đăng ký tham gia Ban Học Tập
    link(rel='stylesheet' href='/public/source/css/nicepage.css' media='screen')
    link(rel='stylesheet' href='/public/source/css/XetTuyen.css' media='screen')
    link(rel='stylesheet' type='text/css' href='//cdn.jsdelivr.net/gh/loadingio/ldbutton@v1.0.1/dist/ldbtn.min.css')

    link(rel='icon' href='/public/source/images/Logo.png')

    script.u-script(type='text/javascript' src='/public/source/js/jquery.js' defer='')
    script.u-script(type='text/javascript' src='/public/source/js/script.js' defer='')
    script.u-script(type='text/javascript' src='/public/source/js/nicepage.js' defer='')
    
    link#u-theme-google-font(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i')
    link#u-page-google-font(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i')
    script(type='application/ld+json').
      {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "Ban Học Tập Khoa Học Và Kỹ Thuật Thông Tin",
      "logo": "/public/source/images/Logo.png"
      }

    // Messenger Plugin chat Code
    #fb-root
    // Your Plugin chat code
    #fb-customer-chat.fb-customerchat
    script.
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "123796654757372");
      chatbox.setAttribute("attribution", "biz_inbox");
    // Your SDK code
    script.
      window.fbAsyncInit = function() {
      FB.init({
      xfbml            : true,
      version          : 'v15.0'
      });
      };
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    meta(name='theme-color' content='#2799b1')
    meta(property='og:title' content='Page 1')
    meta(property='og:type' content='website')
  body.u-body.u-xl-mode(data-lang='vi')

    header#sec-9c34.u-clearfix.u-header.u-palette-1-dark-1.u-sticky.u-sticky-cf2b(data-animation-name='' data-animation-duration='0' data-animation-delay='0' data-animation-direction='')
      .u-clearfix.u-sheet.u-sheet-1
        a.u-image.u-logo.u-image-1(href='/' data-image-width='1080' data-image-height='1080')
          img.u-logo-image.u-logo-image-1(src='/public/source/images/Logo.png')
        p.u-align-left.u-custom-font.u-font-raleway.u-text.u-text-1
          span.u-text-white Ban Học Tập
          br
          span.u-text-white(style="color: #2799b1 !important") Khoa Học và Kỹ thuật Thông tin

    if(vitri == "Training")
      - var position = 'Training'
    if(vitri == 'TruyenThong')
      - var position = 'Truyền thông'
    if(vitri === 'Khac')
      - var position = 'Khác'
    section#sec-93d4.u-clearfix.u-section-1
      .u-clearfix.u-sheet.u-sheet-1
        h1.u-custom-font.u-font-roboto.u-text.u-text-default.u-text-1(style='margin-top: 0px') Đăng ký tham gia vào Ban Học Tập
    section#carousel_15a9.u-align-center.u-clearfix.u-section-2
      .u-clearfix.u-sheet.u-sheet-1
        .u-clearfix.u-expanded-width.u-gutter-20.u-layout-wrap.u-layout-wrap-1(style='margin-top: 0px')
          .u-layout
            .u-layout-row
              .u-align-center.u-container-style.u-layout-cell.u-palette-4-base.u-size-22.u-layout-cell-1
                .u-container-layout.u-container-layout-1
                  .u-image.u-image-circle.u-preserve-proportions.u-image-1(alt='' data-image-width='1080' data-image-height='1080')
                    img.u-expanded-width.u-image-1(src='/public/source/images/Logo.png')
                  p.u-text.u-text-1
                    | Đơn ứng tuyển
                    br
                    | Vị trí: #{position}
                  .u-expanded-width.u-form.u-form-1
                    form.u-clearfix.u-form-spacing-10.u-form-vertical.u-inner-form(style='padding: 10px;' id='formElem1')
                      .u-form-group.u-form-name.u-label-none
                        label.u-custom-font.u-font-roboto.u-label.u-label-1(for='name-716f') Họ và tên
                        input#name-716f.u-border-1.u-border-grey-30.u-input.u-input-rectangle.u-white(type='text' placeholder='Nhập đầy đủ họ và tên của bạn' name='name' required='')
                      .u-form-email.u-form-group.u-label-none
                        label.u-custom-font.u-font-roboto.u-label.u-label-2(for='email-716f') Email
                        input#email-716f.u-border-1.u-border-grey-30.u-input.u-input-rectangle.u-white(type='email' placeholder='Nhập vào email của bạn (nên dùng mail trường nhé!)' name='email' required='')
                      .u-form-email.u-form-group.u-label-none
                        label.u-custom-font.u-font-roboto.u-label.u-label-2(for='email-716f') Mã số sinh viên
                        input#email-716f.u-border-1.u-border-grey-30.u-input.u-input-rectangle.u-white(type='email' placeholder='Nhập vào mã số sinh viên' name='mssv' required='')
                      .u-form-email.u-form-group.u-label-none
                        label.u-custom-font.u-font-roboto.u-label.u-label-2(for='email-716f') Lớp sinh hoạt
                        input#email-716f.u-border-1.u-border-grey-30.u-input.u-input-rectangle.u-white(type='email' placeholder='Nhập vào lớp sinh hoạt (VD: CNTT2022)' name='LopSV' required='')
                      .u-form-email.u-form-group.u-label-none
                        label.u-custom-font.u-font-roboto.u-label.u-label-2(for='email-716f') Facebook
                        input#email-716f.u-border-1.u-border-grey-30.u-input.u-input-rectangle.u-white(type='email' placeholder='Nhập vào đường dẫn Facebook của bạn' name='FacebookURL' required='')
              .u-container-style.u-layout-cell.u-shape-rectangle.u-size-38.u-layout-cell-2
                .u-container-layout.u-container-layout-2
                  .u-form.u-form-2
                    form.u-clearfix.u-form-spacing-15.u-form-vertical.u-inner-form(action='#' style='padding: 0;' source='custom' name='form' id='formElem2')
                      .u-form-group.u-form-message.u-form-group-5
                        label.u-custom-font.u-font-roboto.u-label.u-label-4(for='name-f2a8') Tại sao bạn lại chọn tham gia Ban Học Tập?
                        textarea#name-f2a8.u-border-1.u-border-grey-25.u-border-no-left.u-border-no-right.u-border-no-top.u-input.u-input-rectangle.u-white.u-input-4(placeholder='Lý do của bạn là...' rows='6' cols='50' name='LyDoThamGia' required='required')
                      .u-form-group.u-form-group-6
                        label.u-custom-font.u-font-roboto.u-label.u-label-5(for='phone-447e') 4 tính cách người bạn muốn làm việc cùng
                        input#phone-447e.u-border-1.u-border-grey-25.u-border-no-left.u-border-no-right.u-border-no-top.u-input.u-input-rectangle.u-white.u-input-5(type='text' placeholder='Nhập vào tính cách...' name='TinhCachMuonLamViec' required='required')
                      .u-form-group.u-form-group-7
                        label.u-custom-font.u-font-roboto.u-label.u-label-6(for='message-f2a8') 4 tính cách người bạn KHÔNG muốn làm việc cùng
                        input#message-f2a8.u-border-1.u-border-grey-25.u-border-no-left.u-border-no-right.u-border-no-top.u-input.u-input-rectangle.u-white.u-input-6(placeholder='Nhập vào tính cách...' name='TinhCachKhongMuonLamViec' required='required' type='text')
                      .u-form-group.u-form-group-7 
                        label.u-custom-font.u-font-roboto.u-label.u-label-6(for='message-f2a8') Tình huống: Bạn đang làm việc với 1 bạn khác, bạn thấy bạn đó đang làm sai 1 công việc nào đó hoặc làm việc chậm trễ tiến độ. Trong trường hợp này bạn sẽ giải quyết như thế nào?
                        textarea#name-f2a8.u-border-1.u-border-grey-25.u-border-no-left.u-border-no-right.u-border-no-top.u-input.u-input-rectangle.u-white.u-input-4(placeholder='Giải quyết của bạn là...' rows='6' cols='50' name='TinhHuong' required='required')
                      //- Vị trí Training
                      if (vitri == 'Training')
                        .u-form-group.u-form-group-7 
                          label.u-custom-font.u-font-roboto.u-label.u-label-6(for='message-f2a8') Tình huống: Bạn đang training tại giảng đường, thì có 1 bạn thắc mắc về kiến thức mà bạn cũng không rõ. Trong trường hợp này bạn sẽ giải quyết như thế nào?
                          textarea#name-f2a8.u-border-1.u-border-grey-25.u-border-no-left.u-border-no-right.u-border-no-top.u-input.u-input-rectangle.u-white.u-input-4(placeholder='Giải quyết của bạn là...' rows='6' cols='50' name='TinhHuongTraining' required='required')
                      //- Vị trí Truyền thông
                      if (vitri == 'TruyenThong')
                        .u-form-group.u-form-group-7 
                          label.u-custom-font.u-font-roboto.u-label.u-label-6(for='message-f2a8') Theo bạn, một người truyền thông nên có những kỹ năng gì?
                          textarea#name-f2a8.u-border-1.u-border-grey-25.u-border-no-left.u-border-no-right.u-border-no-top.u-input.u-input-rectangle.u-white.u-input-4(placeholder='Câu trả lời của bạn là...' rows='6' cols='50' name='KyNangTruyenThong' required='required')
                      //- Vị trí Khác
                      if (vitri == 'Khac')
                        .u-form-group.u-form-group-7 
                          label.u-custom-font.u-font-roboto.u-label.u-label-6(for='message-f2a8') Tại sao bạn lại chọn vị trí khác?
                          textarea#name-f2a8.u-border-1.u-border-grey-25.u-border-no-left.u-border-no-right.u-border-no-top.u-input.u-input-rectangle.u-white.u-input-4(placeholder='Câu trả lời của bạn là...' rows='6' cols='50' name='LyDoChonKhac' required='required')
  
                      .u-align-left.u-form-group.u-form-submit.u-form-group-8
                        button.u-border-none.u-btn.u-btn-rectangle.u-btn-submit.u-button-style.u-custom-font.u-font-roboto.u-palette-4-base.u-btn-2.ld-over-full(onclick='Submit()')
                          | GỬI KẾT QUẢ
                          br
