 .u-section-1 {
  margin-top: 20px;
}

.u-section-1 .u-sheet-1 {
  min-height: 91px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 38px auto 0;
} .u-section-2 {
  margin-top: 20px;
}

.u-section-2 .u-sheet-1 {
  min-height: 660px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 40px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 684px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-image-1 {
  width: 127px;
  height: 127px;
  background-image: url("images/Logo.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 20px 30px 0;
}

.u-section-2 .u-form-1 {
  margin-top: 20px;
  margin-bottom: 0;
  height: 183px;
}

.u-section-2 .u-label-1 {
  font-weight: 700;
  width: 97px;
  letter-spacing: -64px;
}

.u-section-2 .u-label-2 {
  font-weight: 700;
  width: 97px;
  letter-spacing: -64px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 560px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 29px;
}

.u-section-2 .u-form-2 {
  height: 352px;
  width: 655px;
  margin: 0;
}

.u-section-2 .u-form-group-4 {
  margin-left: auto;
}

.u-section-2 .u-label-3 {
  font-size: 1.25rem;
  font-weight: 500;
}

.u-section-2 .u-input-3 {
  background-image: none;
}

.u-section-2 .u-form-group-5 {
  margin-left: auto;
}

.u-section-2 .u-label-4 {
  font-size: 1.25rem;
  font-weight: 500;
}

.u-section-2 .u-input-4 {
  background-image: none;
}

.u-section-2 .u-form-group-6 {
  margin-right: 0;
  margin-left: auto;
}

.u-section-2 .u-label-5 {
  font-size: 1.25rem;
  font-weight: 500;
}

.u-section-2 .u-input-5 {
  background-image: none;
}

.u-section-2 .u-form-group-7 {
  margin-left: auto;
}

.u-section-2 .u-label-6 {
  font-size: 1.25rem;
  font-weight: 500;
}

.u-section-2 .u-input-6 {
  background-image: none;
}

.u-section-2 .u-form-group-8 {
  margin-left: auto;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: auto;
  background-image: none;
  font-size: 1rem;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 621px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 462px;
  }

  .u-section-2 .u-form-2 {
    width: 528px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-form-2 {
    width: 389px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 433px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-form-2 {
    height: 467px;
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-form-2 {
    width: 320px;
  }
}