doctype true
html(xmlns='http://www.w3.org/1999/xhtml' xmlns:v='urn:schemas-microsoft-com:vml' xmlns:o='urn:schemas-microsoft-com:office:office')
  head
    //if gte mso 9
      xml
        o:officedocumentsettings
          o:allowpng
            o:pixelsperinch 96
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='x-apple-disable-message-reformatting')
    // [if !mso] <!
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    // <![endif]
    title
    style(type='text/css').
      @media only screen and (min-width: 620px) {
      .u-row {
      width: 600px !important;
      }
      .u-row .u-col {
      vertical-align: top;
      }
      .u-row .u-col-100 {
      width: 600px !important;
      }
      }
      @media (max-width: 620px) {
      .u-row-container {
      max-width: 100% !important;
      padding-left: 0px !important;
      padding-right: 0px !important;
      }
      .u-row .u-col {
      min-width: 320px !important;
      max-width: 100% !important;
      display: block !important;
      }
      .u-row {
      width: calc(100% - 40px) !important;
      }
      .u-col {
      width: 100% !important;
      }
      .u-col > div {
      margin: 0 auto;
      }
      }
      body {
      margin: 0;
      padding: 0;
      }
      table,
      tr,
      td {
      vertical-align: top;
      border-collapse: collapse;
      }
      p {
      margin: 0;
      }
      .ie-container table,
      .mso-container table {
      table-layout: fixed;
      }
      * {
      line-height: inherit;
      }
      a[x-apple-data-detectors='true'] {
      color: inherit !important;
      text-decoration: none !important;
      }
      table, td { color: #000000; } #u_body a { color: #0000ee; text-decoration: underline; } @media (max-width: 480px) { #u_content_image_1 .v-container-padding-padding { padding: 80px 10px 0px !important; } #u_content_image_1 .v-src-width { width: auto !important; } #u_content_image_1 .v-src-max-width { max-width: 100% !important; } #u_content_heading_1 .v-container-padding-padding { padding: 20px 10px 10px !important; } #u_content_heading_1 .v-font-size { font-size: 18px !important; } #u_content_text_1 .v-container-padding-padding { padding: 10px !important; } #u_content_button_1 .v-size-width { width: 89% !important; } #u_content_text_3 .v-container-padding-padding { padding: 20px 20px 10px !important; } #u_content_text_3 .v-line-height { line-height: 170% !important; } }
    // [if !mso] <!
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap' rel='stylesheet' type='text/css')
    // <![endif]
  body.clean-body.u_body(style='margin: 0;padding: 0;-webkit-text-size-adjust: 100%;background-color: #e7e7e7;color: #000000')
    //if IE
      .ie-container
    //if mso
      .mso-container
    table#u_body(style='border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;min-width: 320px;Margin: 0 auto;background-color: #e7e7e7;width:100%' cellpadding='0' cellspacing='0')
      tbody
        tr(style='vertical-align: top')
          td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top')
            //if (mso)|(IE)
              table(width='100%' cellpadding='0' cellspacing='0' border='0')
                tbody
                  tr
                    td(align='center' style='background-color: #e7e7e7;')
            .u-row-container(style='padding: 0px;background-color: transparent')
              .u-row(style='Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;')
                div(style='border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;')
                  //if (mso)|(IE)
                    table(width='100%' cellpadding='0' cellspacing='0' border='0')
                      tbody
                        tr
                          td(style='padding: 0px;background-color: transparent;' align='center')
                            table(cellpadding='0' cellspacing='0' border='0' style='width:600px;')
                              tbody
                                tr(style='background-color: transparent;')
                  //if (mso)|(IE)
                  .u-col.u-col-100(style='max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;')
                    div(style='background-color: #ffffff;height: 100%;width: 100% !important;')
                      // [if (!mso)&(!IE)] <!
                      div(style='height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;')
                        // <![endif]
                        table#u_content_image_1(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                          tbody
                            tr
                              td.v-container-padding-padding(style='overflow-wrap:break-word;word-break:break-word;padding:80px 0px 0px;font-family:arial,helvetica,sans-serif;' align='left')
                                table(width='100%' cellpadding='0' cellspacing='0' border='0')
                                  tbody
                                    tr
                                      td(style='padding-right: 0px;padding-left: 0px;' align='center')
                                        img.v-src-width.v-src-max-width(align='center' border='0' src='public/email/images/image-3.png' alt='image' title='image' style='outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: inline-block !important;border: none;height: auto;float: none;width: 65%;max-width: 390px;' width='390')
            .u-row-container(style='padding: 0px;background-color: transparent')
              .u-row(style='Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;')
                div(style='border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;')
                  //if (mso)|(IE)
                    table(width='100%' cellpadding='0' cellspacing='0' border='0')
                      tbody
                        tr
                          td(style='padding: 0px;background-color: transparent;' align='center')
                            table(cellpadding='0' cellspacing='0' border='0' style='width:600px;')
                              tbody
                                tr(style='background-color: transparent;')
                  //if (mso)|(IE)
                  .u-col.u-col-100(style='max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;')
                    div(style='background-color: #ffffff;height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                      // [if (!mso)&(!IE)] <!
                      div(style='height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                        // <![endif]
                        table#u_content_heading_1(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                          tbody
                            tr
                              td.v-container-padding-padding(style='overflow-wrap:break-word;word-break:break-word;padding:60px 10px 10px;font-family:arial,helvetica,sans-serif;' align='left')
                                h1.v-line-height.v-font-size(style="margin: 0px; line-height: 130%; text-align: center; word-wrap: break-word; font-weight: normal; font-family: 'Montserrat',sans-serif; font-size: 24px;")
                                  div
                                    p
                                      strong Chào bạn nhé! <br>
                                      strong Bạn đã đăng ký tham gia xét tuyển vào 
                                      strong Ban Học Tập thành công!
                        table#u_content_text_1(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                          tbody
                            tr
                              td.v-container-padding-padding(style='overflow-wrap:break-word;word-break:break-word;padding:10px 80px;font-family:arial,helvetica,sans-serif;' align='left')
                                .v-line-height(style='line-height: 170%; text-align: center; word-wrap: break-word;')
                                  p(style='font-size: 14px; line-height: 170%; text-align: center;')
                                    | Hãy kiểm tra mail nhé. Kết quả vòng lọc hồ sơ sẽ được gửi đến bạn trong thời gian tới, hãy kiên nhẫn chờ đợi nhé! 
                                    br
                                    | Chúng mình rất vui và hân hạnh sẽ được đồng hành cùng bạn!
                        table#u_content_button_1(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                          tbody
                            tr
                              td.v-container-padding-padding(style='overflow-wrap:break-word;word-break:break-word;padding:10px 10px 40px;font-family:arial,helvetica,sans-serif;' align='left')
                                //if mso
                                  style.
                                    .v-button {background: transparent !important;}
                                div(align='center')
                                  //if mso
                                    v:roundrect(xmlns:v='urn:schemas-microsoft-com:vml' xmlns:w='urn:schemas-microsoft-com:office:word' href='https://www.facebook.com/BHTKHKTTT' style='height:37px; v-text-anchor:middle; width:203px;' arcsize='11%' stroke='f' fillcolor='#ef3f42')
                                      w:anchorlock
                                        center(style='color:#FFFFFF;font-family:arial,helvetica,sans-serif;')
                                  a.v-button.v-size-width(href='https://www.facebook.com/BHTKHKTTT' target='_blank' style='box-sizing: border-box;display: inline-block;font-family:arial,helvetica,sans-serif;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;color: #FFFFFF; background-color: #ef3f42; border-radius: 4px;-webkit-border-radius: 4px; -moz-border-radius: 4px; width:35%; max-width:100%; overflow-wrap: break-word; word-break: break-word; word-wrap:break-word; mso-border-alt: none;')
                                    span.v-line-height(style='display:block;padding:10px 20px;line-height:120%;') Theo dõi Ban Học Tập
                                  //if mso
                                  // [if (!mso)&(!IE)] <!
                                  // <![endif]
                                  //if (mso)|(IE)
                                  //if (mso)|(IE)
            .u-row-container(style='padding: 0px;background-color: transparent')
              .u-row(style='Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;')
                div(style='border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: transparent;')
                  //if (mso)|(IE)
                    table(width='100%' cellpadding='0' cellspacing='0' border='0')
                      tbody
                        tr
                          td(style='padding: 0px;background-color: transparent;' align='center')
                            table(cellpadding='0' cellspacing='0' border='0' style='width:600px;')
                              tbody
                                tr(style='background-color: transparent;')
                  //if (mso)|(IE)
                  .u-col.u-col-100(style='max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;')
                    div(style='height: 100%;width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                      // [if (!mso)&(!IE)] <!
                      div(style='height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;')
                        // <![endif]
                        table#u_content_text_3(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                          tbody
                            tr
                              td.v-container-padding-padding(style='overflow-wrap:break-word;word-break:break-word;padding:20px 50px 10px;font-family:arial,helvetica,sans-serif;' align='left')
                                .v-line-height(style='line-height: 170%; text-align: center; word-wrap: break-word;')
                                  p(style='font-size: 14px; line-height: 170%; text-align: center;')
                                    | Nếu có câu hỏi, thắc mắc, hãy liên lạc với chúng mình thông qua Fanpage Ban Học Tập nhé! Chúng mình sẽ phản hồi trong thời gian sớm nhất.
                        table(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                          tbody
                            tr
                              td.v-container-padding-padding(style='overflow-wrap:break-word;word-break:break-word;padding:20px;font-family:arial,helvetica,sans-serif;' align='left')
                                table(height='0px' align='center' border='0' cellpadding='0' cellspacing='0' width='41%' style='border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;border-top: 1px solid #000000;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%')
                                  tbody
                                    tr(style='vertical-align: top')
                                      td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;font-size: 0px;line-height: 0px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%')
                                        span  
                        table(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                          tbody
                            tr
                              td.v-container-padding-padding(style='overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:arial,helvetica,sans-serif;' align='left')
                                div(align='center')
                                  div(style='display: table; max-width:93px;')
                                    //if (mso)|(IE)
                                      table(width='93' cellpadding='0' cellspacing='0' border='0')
                                        tbody
                                          tr
                                            td(style='border-collapse:collapse;' align='center')
                                              table(width='100%' cellpadding='0' cellspacing='0' border='0' style='border-collapse:collapse; mso-table-lspace: 0pt;mso-table-rspace: 0pt; width:93px;')
                                                tbody
                                                  tr
                                    //if (mso)|(IE)
                                    table(align='left' border='0' cellspacing='0' cellpadding='0' width='32' height='32' style='width: 32px !important;height: 32px !important;display: inline-block;border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;margin-right: 15px')
                                      tbody
                                        tr(style='vertical-align: top')
                                          td(align='left' valign='middle' style='word-break: break-word;border-collapse: collapse !important;vertical-align: top')
                                            a(href='https://www.facebook.com/BHTKHKTTT' title='Facebook' target='_blank')
                                              img(src='public/email/images/image-1.png' alt='Facebook' title='Facebook' width='32' style='outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none;max-width: 32px !important')
                                    //if (mso)|(IE)
                                    //if (mso)|(IE)
                                    table(align='left' border='0' cellspacing='0' cellpadding='0' width='32' height='32' style='width: 32px !important;height: 32px !important;display: inline-block;border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;margin-right: 0px')
                                      tbody
                                        tr(style='vertical-align: top')
                                          td(align='left' valign='middle' style='word-break: break-word;border-collapse: collapse !important;vertical-align: top')
                                            a(href='https://www.youtube.com/c/BHTKHKTTT' title='YouTube' target='_blank')
                                              img(src='public/email/images/image-2.png' alt='YouTube' title='YouTube' width='32' style='outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none;max-width: 32px !important')
                                    //if (mso)|(IE)
                                    //if (mso)|(IE)
                                    // [if (!mso)&(!IE)] <!
                                    // <![endif]
                                    //if (mso)|(IE)
                                    //if (mso)|(IE)
                                    //if (mso)|(IE)
                                    //if mso
                                    //if IE
